<h1 class='title'>
  Felicidades!!! Tiene una nueva mentoría
</h1>
<div class='paragraph'>
  <p>
    Nombre del estudiante:
    {{name}}
  </p>
  <p>Fecha: {{date}}</p>
  <p>Hora: {{hour}}</p>
  <p>Duración: {{duration}}</p>
  <p>Enlace meet:
    <a href='{{meet}}'>{{meet}}
    </a></p>
</div>