<table
  cellpadding='0'
  cellspacing='0'
  border='0'
  width='580'
  role='presentation'
  align='center'
>
  <tbody>
    <tr>
      <td>
        <table
          cellpadding='0'
          cellspacing='0'
          border='0'
          width='100%'
          role='presentation'
        >
          <tbody>
            <tr>
              <td>

                <table
                  align='center'
                  width='560'
                  border='0'
                  cellspacing='0'
                  cellpadding='0'
                  style='width:100%;max-width:560px'
                >

                  <tbody>
                    <tr>
                      <td>

                        <table
                          align='center'
                          width='100%'
                          border='0'
                          cellspacing='0'
                          cellpadding='0'
                        >

                          <tbody><tr>
                              <td
                                height='60'
                                align='left'
                                style='font-size:50px!important;line-height:60px;padding-top:15px;font-weight:bold'
                              >
                                Tienes una nueva reunión agendada
                              </td>
                            </tr>

                            <tr>
                              <td
                                align='left'
                                style='font-size:24px;line-height:28px;padding-top:21px'
                              >

                                Ya puedes iniciar tu camino. ¿Estás preparado?

                              </td>
                            </tr>

                          </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>

                <table
                  align='center'
                  width='100%'
                  border='0'
                  cellspacing='0'
                  cellpadding='0'
                >

                  <tbody>
                    <tr>
                      <td
                        align='center'
                        valign='top'
                        style='padding:40px 0px 50px 0px'
                      >
                        <table cellpadding='0' cellspacing='0' border='0'>
                          <tbody>
                            <tr>
                              <td
                                align='center'
                                valign='top'
                                style='text-align:center;vertical-align:middle;background-color:#000000;height:50px'
                              >

                                <a
                                  href='https://feedingminds.netlify.app/'
                                  style='
                                    background-color:#2b2972;
                                    color:#ffffff;
                                    display:inline-block;
                                    font-family:sans-serif;
                                    font-size:16px;
                                    line-height:28px;
                                    padding:12px 26px;
                                    text-align:center;
                                    text-decoration:none;
                                    font-weight: bolder;
                                  '
                                  target='_blank'
                                >Ver sesión</a>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div
  id='m_-1794817436863512539body'
  bgcolor='#ffffff'
  marginwidth='0'
  marginheight='0'
>
  <table width='600' cellpadding='0' cellspacing='0' border='0' align='center'>
    <tbody>
      <tr>
        <td>
          <p
            style='font-family:Arial,Tahoma,Helvetica;font-size:24px;line-height:32px;text-align:left;margin:30px 24px 0px 24px;color:#002b93'
          ><b>Hola {{name_student}},</b></p>
          <p
            style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:24px;text-align:left;margin:20px 24px 0px 24px;color:#1c2e46'
          >¡Tu reunión se agendó con éxito!</p>
        </td>
      </tr>
      <tr>
        <td height='35px'>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table
            style='margin:0px 0px 0px 24px'
            width='552'
            cellpadding='0'
            cellspacing='0'
            border='0'
            align='center'
          >
            <tbody>
              <tr>
                <td valign='center' align='center' width='62'>
                  <img
                    style='margin:0px 0px 0px 0px;display:block'
                    src='https://res.cloudinary.com/mikunaalli/image/upload/v1678063620/feeding/Frame_3678_ualrzk.png'
                    width='72'
                    class='CToWUd'
                    data-bit='iit'
                  />
                </td>
                <td valign='center' align='center' width='24'>&nbsp;
                </td>
                <td valign='center' align='center' width='490'>
                  <p
                    style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:7px;color:#1c2e46;text-align:left;margin:24px 24px 24px 0px'
                  >Tema a tratar:
                  </p>
                  <p
                    style='font-family:Arial,Tahoma,Helvetica;font-size:20px;line-height:7px;color:#002a8d;text-align:left;margin:24px 24px 24px 0px'
                  ><b>Mentoria de Ingeniería de sistemas</b>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td height='5px'>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table
            style='margin:0px 0px 0px 24px'
            width='552'
            cellpadding='0'
            cellspacing='0'
            border='0'
            align='center'
          >
            <tbody>
              <tr>
                <td valign='center' align='center' width='62'>
                  <img
                    style='margin:0px 0px 0px 0px;display:block'
                    src='https://res.cloudinary.com/mikunaalli/image/upload/v1678064562/feeding/Frame_3677_vdyhff.png'
                    width='72'
                    class='CToWUd'
                    data-bit='iit'
                  />
                </td>
                <td valign='center' align='center' width='24'>&nbsp;
                </td>
                <td valign='center' align='center' width='490'>
                  <p
                    style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:7px;color:#1c2e46;text-align:left;margin:24px 24px 24px 0px'
                  >Mentor:
                  </p>
                  <p
                    style='font-family:Arial,Tahoma,Helvetica;font-size:20px;line-height:7px;color:#002a8d;text-align:left;margin:24px 24px 24px 0px'
                  >
                    <b>{{name_mentor}}</b>
                    <a
                      style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:14px;color: #15c;text-align:left;border-radius:0px 0px 0px 0px'
                      href='https://www.linkedin.com/in/{{linkedin_mentor}}'
                    >Linkedin</a>

                  </p>

                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td height='35px'>&nbsp;</td>
      </tr>

      <tr>
        <td>
          <table
            width='552'
            cellpadding='15'
            cellspacing='0'
            border='0'
            align='center'
          >
            <tbody>
              <tr>
                <td
                  style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:14px;color:#002b93;text-align:left;border-radius:0px 0px 0px 0px'
                  bgcolor='#F2F4F8'
                >Fecha y hora:</td>
                <td
                  style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:14px;color:#202e44;text-align:left;border-radius:0px 0px 0px 0px'
                  bgcolor='#F2F4F8'
                >
                  <b> {{date}} - {{hour}}</b>
                </td>
              </tr>

              <tr>
                <td
                  style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:14px;color:#002b93;text-align:left;border-top:1px solid #ffffff;border-radius:0px 0px 0px 0px'
                  bgcolor='#ffffff'
                >Duración:</td>
                <td
                  style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:14px;color:#202e44;text-align:left;border-radius:0px 0px 0px 0px'
                  bgcolor='#ffffff'
                >
                  <b>{{duration}}</b>
                </td>
              </tr>
              <tr>
                <td
                  style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:14px;color:#002b93;text-align:left;border-radius:0px 0px 0px 0px'
                  bgcolor='#F2F4F8'
                >Meet:</td>
                <td
                  style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:14px;color:#202e44;text-align:left;border-radius:0px 0px 0px 0px'
                  bgcolor='#F2F4F8'
                >
                  <a href='{{meet}}'>{{meet}}</a>
                </td>
              </tr>

              <tr>
                <td
                  style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:14px;color:#002b93;text-align:left;border-top:1px solid #ffffff;border-radius:0px 0px 0px 0px'
                  bgcolor='#ffffff'
                >Transacción:</td>
                <td
                  style='font-family:Arial,Tahoma,Helvetica;font-size:16px;line-height:14px;color:#202e44;text-align:left;border-radius:0px 0px 0px 0px'
                  bgcolor='#ffffff'
                ><b>S/ 40.00</b></td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td height='40px'>&nbsp;</td>
      </tr>

    </tbody></table>
  <img
    src='https://ci6.googleusercontent.com/proxy/hzxHeyxLdRd-Ltnf-S5kfM2elwYn3wLBj5qVjKpY_shsa29CG-ZpSz2Vj1h_KMczOsbuaPUOvBozsHTv0B8B6HQyM6f7h2t9vpaw11gk3nYtefjnXv-X_IjLV4KajyWw1MWAxWv9b6qad1RT5fu2JZDfjsMbqdurD56DOV17RsRqo5V9saRLkpkwL536pfqiB4QdCv2Nz898fj755h3WHPyk7t8QlaUa5nw-V16BkwWFmkojiC1_U3pdakN2qz7iYaxiLKqk4C1F5yohHFytKupZLjvnWo_gIZVKOnAfr_10krvyRIYHLKmELhTHmedsfwaaixkWv3TXDM-ETwp7_hgdXlvl0weFMSOz41Y8tX85NoMwM-VMUiVeJB_avll9-HWRIk31UfGJZjbHSlLkxxXcazn5zD_lxMTdEaXftDkTOA7THZYvTL29F48C_FKg6W3cbKJrPPqsUTFygFi-x1o_eXzTsthGXkHRIROR15iD6jkYaOwb4KjCEMasACUEXzKVX1Obn-1N35T58eEs89wUi1-DRTlSimca7EQ9wqHcWj8_4EGf3767u4HaC2HHoQWbeOR7Huw=s0-d-e1-ft#https://u21601664.ct.sendgrid.net/wf/open?upn=bEivkvvV08GUvYZoSdfTWOs38weh2-2B8KYSBJRZPokQ0yOUwE2IrkpJYNe55-2F11LThnZ9qu0-2BcbWjnmymO6mLWLCwi9K0vJfhPFRPACdNEjc8PKU3MQk3a4XOHwOOFiCD-2FVm-2BfY7TZuLyqGMOp1s7mxZbk0fGBRnvmT-2Fxkbh8WRCmUq1-2FQ-2FpX4-2FSYjY7oN2CniLKhID5oMTZkQ4fB0ws-2B1x55GFtIhQKH8SAba0-2FKItQhHzztr-2BYuD4xl87BaE10U0PdaYQaUGSh7DOT5rgoFjEbcSe1fT74i2ReLvXoB1TTJfwmneK3-2B19zI9gepAjTrjpzuBeyPo1P6o3aOpo2Owg-3D-3D'
    alt=''
    width='1'
    height='1'
    border='0'
    style='height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important'
    class='CToWUd'
    data-bit='iit'
    jslog='138226; u014N:xr6bB; 53:W2ZhbHNlLDJd'
  /></div>