<!doctype html>
<html>

<head>
    <title>Feeding Minds</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <ul>
        <li>
            {{name}}
        </li>
        <li>{{duration}}</li>
        <li>{{date}}</li>
        <li>{{hour}}</li>
        <li><a href="{{meet}}">link</a></li>
    </ul>
</body>

</html>